<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_app_round"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_app_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AlertPatient"
        tools:targetApi="31">
        <activity
            android:name=".Login"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity android:name="com.example.alertpatient.Principal"
            android:theme="@style/principal"/>
        <activity android:name="com.example.alertpatient.Alarmas" />
        <activity android:name="com.example.alertpatient.Consulta" />
        <activity android:name="com.example.alertpatient.Emergencia" />
        <activity android:name="com.example.alertpatient.Registro" />
        <activity android:name="com.example.alertpatient.Medicamentos" />


    </application>

</manifest>